@font-face {
    font-family: 'MainFont';
    src: url('/font/Square721_cn_bt.ttf')  format('truetype');
}

@font-face {
    font-family: OutlineFont;
    src: url('/font/Queen_of_Camelot_Outlines.otf')  format('opentype');
}
